<div class="container mg-8">
  <div class="columns is-mobile is-centered">
    <div class="column is-10 has-background-primary">
      <p class="bd-notification">
        <code class="html">is-half</code><br>
        <code class="html">is-half</code><br>
        <code class="html">is-half</code><br>
        <code class="html">is-half</code><br>
        <br>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </p>
    </div>
  </div>
</div>

